header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 3em;
  width: 83vw;
}

nav {
  display: flex;
  justify-content: space-between;
}

#logo-img {
  height: 80px;
}

nav a {
  font-size: 1.5rem;
  color: rgb(241, 10, 10);
  font-weight: 400;
  text-shadow: 1px 1px black;
}

header a {
  padding: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(8, 8, 7);
  text-decoration: underline;
}