<header>
  <!-- Navigation -->
  <a id="logo" href="/"><img id="logo-img" src="../../../assets/images/logo.png" alt="" /></a>

  <nav>
    <div>
      <a [routerLink]="['dashboard']">Fun Facts</a>
    </div>

    <!-- Logged-in users -->
    @if (authService.isAuthenticated()) {
    <div class="user">
      <a href="#">Add Fact</a>
      <a [routerLink]="['/']" (click)="logout()">Logout</a>
    </div>
    }

    <!-- Guest users -->
    @if (!authService.isAuthenticated()) {
    <div class="guest">
      <a [routerLink]="['login']">Login</a>
      <a [routerLink]="['register']">Register</a>
    </div>
    }

  </nav>
</header>