/* You can add global styles to this file, and also import other style files */
body {

    background-image: url(./assets/images/cover.png);
    /* background-repeat: no-repeat; */
    background-size: 100vw;
    margin: auto;
    padding: 0;
    overflow: auto;
    width: 97vw;
    font-family: 'Bebas Neue', sans-serif;
}